@media screen and (max-width: 700px) {
  
  .first {
     height: 700px;
    width: 800px;
    border: 3px solid black;
    border-radius: 15px;
    background-image: url("photo 1.gif.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 20px purple;
    position: relative;
    margin-top: 0;
    margin-left: 0;
  }

  .text {
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: skyblue;
    text-align: center;
  }

  .box3 {
    width: 150px;
    height: 530px;
    border: 3px solid skyblue;
    position: absolute;
    border-radius: 15px;
    top: 165px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    color:ghostwhite;
  }
  .box1{
    width: 300px;
    height: auto;
    border: 3px solid skyblue;
    position:absolute;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    color:ghostwhite;
    left: 250px;
    top: 165px;
  }
  .box2{
     width: 300px;
    height: auto;
    border: 3px solid skyblue;
    position:absolute;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    color:ghostwhite;
    left: 250px;
    top: 450px;
  }


/*fin de page 1 */


.second{
height: 700px;
width: 800px;
border: 3px solid black;
border-radius: 15px;
background-image: url(sta-je-html.jpg);
background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    box-shadow:0 0 20px orangered;

    
}
.secondbox{
width: 150px;
    height: 530px;
    border: 3px solid rgb(49, 0, 49);
    border-radius: 15px;
    position: absolute;
    position: relative;
    top: 165px;
     text-align: center;
    line-height: 30px;
    font-size: 32px;
    color: blueviolet;
}
.secondbox2 {
color: blueviolet;
position: relative;
left: 200px;
bottom: 370px;
width: 400px;
height: auto;
font-size: large;
border: 3px solid rgb(49, 0, 49);
border-radius: 15px;


}
.secondbox2 p{
  font-size: x-large;
}
.exemple1{
  color: blue;
  position: relative;
  bottom: 250px;
  right: 200px;
  left: 250px;
  font-size: xx-large;
}
  


/*fin de la page 2 */


.css1{
  height: 700px;
    width: 800px;
    border: 3px solid black;
    border-radius: 15px;
    background-image: url(ChatGPT\ Image\ 18\ oct.\ 2025\,\ 00_27_17.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 20px blue;
    position: relative;
}
.cssbox1{
  width: 150px;
    height: 530px;
    border: 3px solid orange;
    position: absolute;
    border-radius: 15px;
    top: 165px;
    text-align: center;
    line-height: 35px;
    font-size: 37px;
    color:lightsalmon;
}
.cssbox2 {
width: 400px;
    height: auto;
    border: 3px solid orange;
    border-radius: 15px;
    position: absolute;
    position: relative;
    left: 200px;
    top: 165px;
     text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: lightsalmon;
}
.cssbox2 p{
  font-size: xx-large;
  color:darkred;
}


/*fin de la page 3 */

.java1{
  height: 700px;
    width: 750px;
    border: 3px solid black;
    border-radius: 15px;
    background-image: url(choosing-the-best-javascript-frameworks-for-your-next-project.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative; 
     box-shadow: 0 0 20px black;
    
}
.javabox1{
  width: 210px;
    height: 540px;
    border: 3px solid orange;
    position: absolute;
    border-radius: 15px;
    top: 155px;
    text-align: center;
    line-height: 45px;
    font-size: 27px;
    color:lightsalmon;
}
.javabox2{
  width: 400px;
  height: auto;
  border: 3px solid  orange;
  position: absolute;
  border-radius: 15px;
  top: 150px;
  left: 225px;
  line-height: 35px;
  font-size: 28px;
  text-align: center;
  color: lightsalmon;
}
.javabox3{
  width: 400px;
  height: auto;
  border: 3px solid  orange;
  position: absolute;
  border-radius: 15px;
  top: 420px;
  left: 225px;
  line-height: 43px;
  font-size: 27px;
  text-align: center;
  color: lightsalmon;

}
.javabox3 p{
  line-height: 30px; 
}


/*fin de page 4 */

    body {
        background: #222;
        color: white;
        text-align: center;
    }

    #game-board {
        width: 300px;
        height: 300px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
    }

    .cell {
        background: #333;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        cursor: pointer;
        transition: 0.2s;
    }

    .cell:hover {
        background:brown;
    }

    #resetBtn {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
    }

 
/* fin page de jeu */



.input__container {
  position: relative;
  left: 200px;
  top: 250px;
  background: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 4px solid #000;
  max-width: 350px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);
  perspective: 1000px;
  box-shadow: 10px 10px 0 #000;
}

.input__container:hover {
  transform: rotateX(5deg) rotateY(1 deg) scale(1.05);
  box-shadow: 25px 25px 0 -5px #e9b50b, 25px 25px 0 0 #000;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateZ(-50px);
  background: linear-gradient(
    45deg,
    rgba(255, 107, 107, 0.4) 0%,
    rgba(255, 107, 107, 0.1) 100%
  );
  filter: blur(20px);
}

.input__button__shadow {
  cursor: pointer;
  border: 3px solid #000;
  background: #e9b50b;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: translateZ(20px);
  position: relative;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}

.input__button__shadow:hover {
  background: #e9b50b;
  transform: translateZ(10px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__button__shadow svg {
  fill: #000;
  width: 25px;
  height: 25px;
}

.input__search {
  width: 100%;
  outline: none;
  border: 3px solid #000;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  color: #000;
  transform: translateZ(10px);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  z-index: 3;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -0.5px;
}

.input__search::placeholder {
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

.input__search:hover,
.input__search:focus {
  background: #f0f0f0;
  transform: translateZ(20px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__container::before {
  content: "USERNAME";
  position: absolute;
  top: -15px;
  left: 20px;
  background: #e9b50b;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}

}
.html, body{
  margin: 0;
  padding: 0;

}





